.navbar {
  width: 100vw;
  
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0.815);
line-height: normal;
max-height: 10vh;
}
.nav-link{
  color: #FFF !important;
font-family: Tenali Ramakrishna;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
margin: 0 1vw;
border-radius: 10px;
}
.brand{
  width: 15vw;
}
.navbar-nav {
  margin-left: 30vw;
}
.navbar a.active {
  transition: 0.7s ease-in-out;
  font-size: 1.4rem;
  background-color: rgb(103, 103, 103);
}

@media only screen and (max-width:1000px) {
  .navbar-nav {
    background-color: rgb(103, 103, 103);
    padding: 10px;
    border-radius: 20px;
    margin-top: 5vh;
  }

}