html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  text-align: center;
}
body {
  background-color: #c1c1c1;
}


.top-comp {
  background: rgba(0, 0, 0, 0.867); 
  height: 100vh;
  width: 100vw;
}

.btn-outline-dark{
  font-size: 1.5rem;
}
.filler{
  height: 7vh;
}

