html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  text-align: center;

  margin-right: 1rem;
}

body{
 background: rgba(0, 0, 0, 0.867); 
}

.btn-outline-dark{
  font-size: 1.5rem;
}
.filler{
  height: 7vh;
}
